<main>
  <article>
    <h1>@<%= username %>'s Posts</h1>
    <h2><%= blog.title %></h2>
    <% if (flash?.info) { %>
    <div id="info" class="info">
      <span><%= flash.info %></span>
    </div>
    <% } %>
    <% if (flash?.message) { %>
    <div id="messages" class="messages">
      <span><%= flash.message %></span>
    </div>
    <% } %>
    <% if (flash?.error) { %>
    <div id="errors" class="errors">
      <span><%= flash.error %></span>
    </div>
    <% } %> 
    <section id="userPosts">
      <% if (posts && posts.length > 0) { %>
        <% posts.forEach((p) => { %>
          <div class="post-card">  
            <div class="post-card-thumbnail">
              <a href="<%= `${origin}/@${username}/blog/${p.slug}` %>">
                <img class="small" alt="post alt text goes here." title="post alt/title text goes here." src="<%= `${origin}/a/xx123bc/galleries/post-title/post-thumbnail.jpg` %>"> 
              </a>
            </div>
            <div class="post-card-info">
              <a href="<%= `${origin}/@${username}/blog/${p.slug}` %>">
                <h2 class="post-card-title"><%= p.title %></h2> 
              </a>
              <div class="post-card-meta-keywords">
                <span><%= p.keywords.join(', ') %></span>
              </div>
              <div class="post-card-meta">
                <span class="post-card-meta-by">by </span>
                <span class="post-card-meta-author"><%= p.authors[0].author %></span>
                <span class="post-card-meta-data">· <%= new Date(p.createdOn).toDateString() %></span>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        @<%= username %> hasn't made any public blog posts yet.
      <% } %>
    </section>
  </article>
</main>
