<main>
  <article>
    <h1>Home Page</h1>
    <% if (flash?.info) { %>
    <div id="info" class="info">
      <span><%= flash.info %></span>
    </div>
    <% } %>
    <% if (flash?.messages) { %>
    <div id="messages" class="messages">
      <span><%= flash.messages %></span>
    </div>
    <% } %>
    <% if (flash?.error) { %>
    <div id="errors" class="errors">
      <span><%= flash.error %></span>
    </div>
  <% } %>
  <p>This is the home page of the website.</p>
    <% if (isAuthenticated) { %>
    <p>View account <a href="/account/view">details</a>.</p>
    <% } %>
    <ul>
      <% if (user) { %>
      <li><%= user.type %></li>
      <li><%= `${user.name}` %></li>
      <li><%= `${user.firstName} ${user.lastName}` %></li>
      <li><%= user.email.primary %></li>
      <li><%= user.description %></li>
      <li><%= user.status%></li>
    <% } else { %>
      <li>Nothing to see yet</li>
      <li>Nothing to read yet</li>
      <li>Nothing to judge yet</li>
    <% } %>
    </ul>
  </article>
</main>

