<main>
  <article>
    <h1>Home Page</h1>
    
    <p>This is the home page of the website.</p>
    <p>Check out <a href="/about">this</a></p>
    <ul>
      <% if (user) { %>
      <li><%= user.type %></li>
      <li><%= `${user._name}` %></li>
      <li><%= `${user._first} ${user._last}` %></li>
      <li><%= user.email %></li>
      <li><%= user.description %></li>
      <li><%= user.userStatus%></li>
    <% } else { %>
      <li>Nothing to see yet</li>
      <li>Nothing to read yet</li>
      <li>Nothing to judge yet</li>
    <% } %>
    </ul>
  </article>
</main>

