<main>
  <article>
    <h1>User Detail Page</h1>
    
    <% if (sessionUser) { %>
    <p>This is the user detail page for <%= sessionUser.name %>.</p>
    <ul>
      <li><%= sessionUser.type %></li>
      <li><%= `${sessionUser.name}` %></li>
      <li><%= `${sessionUser.firstName} ${sessionUser.lastName}` %></li>
      <li><%= sessionUser.email.primary %></li>
      <li><%= sessionUser.description %></li>
      <li><%= sessionUser.status%></li>
    </ul>
    <% } else { %>
    <p>No user found with username <%= username %>.</p>
    <ul>
      <li>Nothing to see yet</li>
      <li>Nothing to read yet</li>
      <li>Nothing to judge yet</li>
    </ul>
    <% } %>
  </article>
</main>

