<main>
  <article>
    <h1>Blogs Main Page</h1>
    <% if (flash?.info) { %>
    <div id="info" class="info">
      <span><%= flash.info %></span>
    </div>
    <% } %>
    <% if (flash?.message) { %>
    <div id="messages" class="messages">
      <span><%= flash.message %></span>
    </div>
    <% } %>
    <% if (flash?.error) { %>
    <div id="errors" class="errors">
      <span><%= flash.error %></span>
    </div>
    <% } %> 
    <% if (recent10?.length > 0) { %>
      <h2>Recently Added</h2>    
      <section id="recent10">
        <div class="recentlyAdded">
        <% recent10.forEach((p) => { %>
          <div class="recentlyAddedPosts"> 
            <figure>
              <a href="<%= `${origin}/@${p.owner}/blog/${p.id}` %>">
                <img src="<%= `${origin}/${p.preview}` %>" alt="<%= p.description %>">
              </a>
              <figcaption>
                <%= b.title %>
                <br>
                by: <%= b.owner %>
              </figcaption>
            </figure>
          </div>
        <% }) %>
        </div>
      </section>
    <% } %>
    <br>
    <section id="userBlogs">
      <% if (publicBlogs.forEach && publicBlogs.length > 0) { %>
        <% publicBlogs?.forEach((b) => { %>
          <div class="post-card" id="usersBlogList">
            <div class="post-card-thumbnail">
              <a href="<%= `${origin}/@${b.creatorName}/blog` %>">
                <% if (b.headerImageUrl) { %>
                <img class="small" 
                  alt="<%= b.title %>"
                  title="<%= b.title %>" 
                  src="<%=`${origin}/a/xx123bc/galleries/post-title/${b.headerImageUrl}` %>"
                >
                <% } else { %>
                <div class="post-card-thumbnail-blank">
                  <a href="<%= `${origin}/@${b.creatorName}/blog` %>">
                    <span><%= b.creatorName %></span>
                  </a>
                </div>
                <% } %>
              </a>
            </div>
            <div class="post-card-info">
              <a href="<%= `${origin}/@${b.creatorName}/blog` %>">
                <h2 class="post-card-title"><%= b.title %></h2> 
              </a>
              <div class="post-card-meta-keywords">
                <span><%= b.keywords.join(', ') %></span>
              </div>
              <div class="post-card-meta">
                <span class="post-card-meta-by">by </span>
                <span class="post-card-meta-author"><%= b.creatorName %></span>
                <span class="post-card-meta-data">· <%= new Date(b.createdOn).toDateString() %></span>
              </div>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        No public blogs yet.
      <% } %>
    </section>
  </article>
</main>
