<main>
  <article>
    <h1>View User Details</h1>
    
    <p>This is the user detail page for <%= displayUser.name %>.</p>
    <% if (isAuthenticated) { %>
      <p><a href="/account/edit">Edit</a></p>
    <% } %>
    <% if (view?.info) { %>
    <div id="info" class="info">
      <span><%= view.info%></span>
    </div>
    <% } %>
    <% if (view?.message) { %>
    <div id="messages" class="messages">
      <span><%= view.message %></span>
    </div>
    <% } %>
    <% if (view?.error) { %>
    <div id="errors" class="errors">
      <span><%= view.error%></span>
    </div>
    <% } %><div class="account-details">
      <dl class="wrapper" style="display: grid; grid-template-columns: 1fr
        1fr; row-gap: 0.125em; column-gap: 1px">
        <dt style="display: inline-block;">First Name: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%=displayUser?.firstName %><% } %></dd>

        <dt style="display: inline-block;">Last Name: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%=displayUser?.lastName %><% } %></dd>

        <dt style="display: inline-block;">Primary Email Address: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%=displayUser?.primaryEmail.primary %><% } %></dd>
        
        <dt style="display: inline-block;">Secondary Email Address: </dt>
        <dd style="display: inline-block;"><% if (displayUser) {
          %><%-displayUser?.email.secondaryEmail?.secondary || '<span class="smallem">none provided</span>' %><% } %></dd>
            

        <dt style="display: inline-block;">Description: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%=displayUser?.description %><% } %></dd>

        <dt style="display: inline-block;">Account Status: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%=displayUser?.status %><% } %></dd>

        <dt style="display: inline-block;">Account Type: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%=displayUser?.type %><% } %></dd>

        <dt style="display: inline-block;">User Upload Dir: </dt>
        <dd style="display: inline-block;"><% if (displayUser.publicDir !== '') { %><%= `${origin}/${displayUser?.publicDir}` %><% } else { %>
        <span class="smallem">not set yet</span>
      <% } %></dd>

        <dt style="display: inline-block;">Avatar: </dt>
        <dd style="display: inline-block;"><% if (displayUser.avatar !== '') { %><img src="<%= `${origin}/${displayUser?.avatar}`%>" id="avatar" alt="avatar image"> <% } else { %>
        <span class="smallem">no avatar image uploaded yet</span>
      <% } %></dd>

        <dt style="display: inline-block;">Header: </dt>
        <dd style="display: inline-block;"><% if (displayUser.header !== '') { %><img src="<%= `${origin}/${displayUser?.header}` %>" id="header alt="header image"> <% } else { %>
        <span class="smallem">no header image uploaded yet</span>
      <% } %></dd>

        <dt style="display: inline-block;">Url: </dt>
        <dd style="display: inline-block;"><% if (displayUser) { %><%= `${origin}/${displayUser?.url}` %><% } %></dd>
      </dl>
    </div>
  </article>
</main>

