<main>
  <article>
    <h1>This is the admin list users page.</h1>
    
    <% if (isAuthenticated) { %>
      <%# <p><a href="/account/edit">Edit</a></p> %>
    <% } %>
    <% if (list?.message) { %>
    <div id="messages" class="messages">
      <span><%= list.message %></span>
    </div>
    <% } %>
    <% if (list?.info) { %>
    <div id="info" class="info">
      <span><%= list.info%></span>
    </div>
    <% } %>
    <% if (list?.error) { %>
    <div id="errors" class="errors">
      <span><%= list.error%></span>
    </div>
    <% } %>
    <section class="adminList" >
    <% if (Admin && Admin.length > 0) { %>
      <h4 id="admins" class="admins">Admins (<%- Admin.length -%>)</h3>
      <div class="account-list">
        <% Admin.forEach((u) => { %>
          <div class="user"><a href="<%- origin -%>/@<%- u.username -%>">@<%- u.username -%></a></div>
          <div class="status"><%-u.status-%></div>
          <div class="edit">
            <span class="edit">
              <a href="<%- origin -%>/admin/account/view/@<%- u.username -%>">view</a>
            </span>
          </div>
          <div class="view">
              <span class="view">
                <a href="<%- origin -%>/admin/account/edit/@<%- u.username -%>">edit</a>
              </span>
          </div>
          <div class="delete">
            <img src="<%- origin -%>/i/delete.svg" class="trashcan" data-username="<%- u.username -%>" data-id="<%- u.id -%>" data-csrfToken="<%- csrfToken -%>" >
          </div>
        <% }) %>
      </div>
    <% } else { %>
      No Admin users created
    <% } %>
    </section>

    <section class="creatorList" >
    <% if (Creator && Creator.length > 0) { %>
      <h4 id="creators" class="creators">Creators (<%- Creator.length -%>)</h4>
      <div class="account-list">
        <% Creator.forEach((u) => { %>
          <div class="user"><a href="<%-origin-%>/@<%- u.username -%>">@<%- u.username -%></a></div>
          <div class="status"><%-u.status-%></div>
          <div class="edit">
            <span class="edit">
              <a href="<%- origin -%>/admin/account/view/@<%- u.username -%>">view</a>
            </span>
          </div>
          <div class="view">
            <span class="view">
              <a href="<%- origin -%>/admin/account/edit/@<%- u.username -%>">edit</a>
            </span>
          </div>
          <div class="delete">
            <img src="<%- origin -%>/i/delete.svg" class="trashcan" data-username="<%- u.username -%>" data-id="<%- u.id -%>" data-csrfToken="<%- csrfToken -%>" >
          </div>
        <% }) %>
      </div>  
    <% } else { %>
      No Creator accounts created
    <% } %>
    </section>

    <section class="userList" >
    <% if (User && User.length > 0) { %>
      <h4 id="users" class="users">Users (<%- User.length -%>)</h4>
      <div class="account-list">
        <% User.forEach((u) => { %>
            <div class="user"><a href="<%-origin-%>/@<%- u.username -%>">@<%- u.username -%></a></div>
            <div class="status"><%-u.status-%></div>
            <div class="edit">
              <span class="edit">
                <a href="<%- origin -%>/admin/account/view/@<%- u.username -%>">view</a>
              </span>
            </div>
            <div class="view">
              <span class="view">
                <a href="<%- origin -%>/admin/account/edit/@<%- u.username -%>">edit</a>
              </span>
            </div>
            <div class="delete">
              <img src="<%- origin -%>/i/delete.svg" class="trashcan" data-username="<%- u.username -%>" data-id="<%- u.id -%>" data-csrfToken="<%- csrfToken -%>" >
            </div>
        <% }) %>
      </div>  
    <% } else { %>
      No User accounts created
    <% } %>
    </section>
    <dialog id="dia" >
      <span id="prompt"></span>
      <br>
      <span id="yes" class="dialogYes">Yes</span><span id="no" class="dialogNo">No</span>
    </dialog>
    <script nonce="<%- nonce -%>">
      function doDelete(dataset) {
        if (!dataset) {
          console.error('No dataset values provided.  No delete issued.')
          return false
        } 
        console.log('doDelete called with: ')
        console.table(dataset)
      }
      
      function updateGrid(dataset, target) {
        const div = document.createElement('div')
        div.classList.add('gridspan')
        // div.setAttribute('class', 'gridspan')
        // div.className = 'gridspan'
        const text = document.createTextNode(`Permanently deleted ${dataset.username}.  No going back...`)
        div.appendChild(text)
        target.parentNode.insertBefore(div, target)
        console.log(div)
      }

      window.addEventListener('load', (event) => {
        const trashcans = document.querySelectorAll('img.trashcan')
        for (const can of trashcans.entries()) {
          console.log(can[1].dataset)
          can[1].addEventListener('click', (e) => {
            e.stopPropagation()
            e.preventDefault()
            const editNode = can[1].parentNode.previousElementSibling
            const viewNode = editNode.previousElementSibling
            const statusNode = viewNode.previousElementSibling
            const usernameNode = statusNode.previousElementSibling
            const deletePrompt = 'Are you sure you want to delete the account for:\n'
              + `${usernameNode.firstChild.text}?\n` 
              + 'This action cannot be undone.'
            const dialog = document.querySelector('dialog[id="dia"]')
            dialog.firstElementChild.innerText = deletePrompt
            const yes = document.querySelector('span[id="yes"]')
            yes.addEventListener('click', (e) => {
              e.preventDefault()
              e.stopPropagation()
              dialog.close('yes')
            })
            const no = document.querySelector('span[id="no"]')
            no.addEventListener('click', (e) => {
              e.preventDefault()
              e.stopPropagation()
              dialog.close('no')
            })
            dialog.addEventListener('close', (e) => {
              console.info(`dialog.returnValue: ${dialog.returnValue}`)
              if (dialog.returnValue === 'yes') {
                console.log(can[1].dataset)
                doDelete(can[1].dataset)
                updateGrid(can[1].dataset, usernameNode)
              }
            })
            dialog.showModal()
          })
        }
      })
    </script>
  </article>
</main>
