<main>
  <article>
    <h1>Gallery: <%= album.name %></h1>
    <% if (view.message) { %>
    <div id="messages" class="messages">
      <span><%= view.message %></span>
    </div>
    <% } %>
    <% if (view.error) { %>
    <div id="errors" class="errors">
      <span><%= view.error%></span>
    </div>
    <% } %>
    <div class="gallery">
      <form name="edit" id="edit_Id" action="/account/galleries/<%= album.id %>" method="POST" enctype="multipart/form-data">
        <fieldset>
          <legend>Make changes to gallery</legend>
          <input type="hidden" name="csrf-token" id="csrf-token_Id" value="<%= csrfToken %>" required>
          <input type="hidden" name="albumId" id="albumId_Id" value="<%= album.id %>" required>
          <label for="albumName_Id">Album Name:</label>
          <input type="text" name="albumName" id="albumName_Id" value="<%= album.name %>" size="80" tabindex="3">
          <br>
          <label for="albumDescription_Id">Album Description:</label>
          <input type="text" name="albumDescription" id="albumDescription_Id" value="<%= album.description%>" size="80" tabindex="2">
          <br>
          <label for="albumKeywords_Id">Album Keywords:</label>
          <input type="text" name="albumKeywords" id="albumKeywords_Id" value="<%= album.keywords.join(', ') %>" size="80" tabindex="2">
          <br>
          <label for="albumPublic_Id">Make Public:</label>
          <input type="checkbox" name="albumPublic" id="albumPublic_Id" <%= (album.public) ? "checked" : '' %> tabindex="4">
          <br>
          <input type="submit" name="submit" id="submit_Id" value="Update Album" tabindex="5">
          <input type="reset" name="reset" id="reset_Id" value="Clear" tabindex="6">
        </fieldset>
      </form>
      <script nonce="<%= nonce %>">
        const origin = '<%= origin %>'
        const jwtAccess = '<%= jwtAccess %>'
        const form = document.forms[0]
        async function updateAlbum(e) {
          e.preventDefault()
          e.stopPropagation()
          const formData = new FormData()
          const csrfToken = form.elements['csrf-token']
          formData.append('csrfTokenHidden', csrfToken.value)
          const albumId = form.elements['albumId']
          formData.append('albumId', albumId.value)
          if (form.elements['albumName'].value !== '') {
            const albumName = form.elements['albumName']
            formData.append('albumName', albumName.value)
          }
          if (form.elements['albumDescription'].value !== '') {
            const albumDescription = form.elements['albumDescription']
            formData.append('albumDescription', albumDescription.value)
          }
          if (form.elements['albumKeywords'].value !== '') {
            const albumKeywords = form.elements['albumKeywords']
            formData.append('albumKeywords', albumKeywords.value)
          }
          const albumPublic = form.elements['albumPublic']
          formData.append('albumPublic', albumPublic.checked)
          const opts = {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              Authorization: `Bearer ${jwtAccess}`,
            },
            body: formData,
          }
          const request = new Request(`${origin}/account/galleries/${albumId.value}`, opts)
          console.dir(request)
          const response = await fetch(request, { credentials: 'same-origin' })
          if (!response.ok) {
            console.error(response.statusText)
          } else {
            const updateResult = await response.json()
            if (updateResult.status > 200) {
              console.error(updateResult)
            } else {
              console.log(updateResult)
              
            }
          }
        }
        form.addEventListener('submit', updateAlbum) 

      </script>
    </div>
    <div id="images">
      <% (await album.getJson()).images.forEach((image, i) => {
        // const img = document.createElement('img')
        // img.src = `${origin}/${image.url}`
        // img.setAttribute('width', '150px')
        // img.setAttribute('alt', image.description)
        // img.classList.add('imgThumbnail')
      %>
      <div class="imagePair">
        <form id="<%= `${album.name}_${image.name}` %>">
          <fieldset>
              <figure style="display: inline-block;">
                <img src="<%= `${origin}/${image.url}` %>" alt="<%= image.description %>" class="imgFull" width="150px">
                <figcaption>Full size image.</figcaption>
              </figure>
            <% if (image.thumbnail) { %>
              <figure style="display: inline-block;">
                <img src="<%= `${origin}/${image.thumbnail}` %>" alt="<%= image.description %>" class="imgThumbnail" width="*">
                <figcaption>Thumbnail image.</figcaption>
              </figure>
            <% } %>
            <br>
            <input type="hidden" id="name_Id_<%= i %>" value="<%= image.name %>">
            <label>Title: <input type="text" name="title" id="title_Id_<%= i %>" value="<%= image.title %>" class="title"></label><br>
            <label>Description: <input type="text" name="description" id="description_Id_<%= i %>" value="<%= image.description %>" class="description"></label><br>
            <label>Keywords: <input type="text" name="description" id="description_Id_<%= i %>" value="<%= image.keywords %>" class="keywords"></label><br>
            <input type="submit" value="Update Image Metadata">
          </fieldset>
        </form>
      </div>
      <% }) %>
    </div>
  </article>
</main>

