<main>
  <article>
    <h1>View Account Public Keys</h1>
    
    <% if (view.message) { %>
    <div id="messages" class="messages">
      <span><%= view.message %></span>
    </div>
    <% } %>
    <% if (view.error) { %>
    <div id="errors" class="errors">
      <span><%= view.error%></span>
    </div>
    <% } %>
    <div class="account-pubkey">
      <% const sigK = sessionUser.publicSigningKey %>
      <% console.log(sigK) %>
      <% const encK = sessionUser.publicEncryptingKey %>
      <dl>
        <dt>
          <% if (sigK === null && encK === null) { %>
            No JWKs created yet.
          <% } else { %>
          <a href="<%= origin %>/@<%= sessionUser.username %>/jwks.json">
            <%= origin %>/@<%= sessionUser.username %>/jwks.json
          </a>
          <% } %>
        </dt>
        <dd>
        </dd>

        <dt>Public Signing Key:</dt>
        
          <pre><%- await sessionUser.publicSigningKey %></pre>
        </dd>

        <dt>Signing JWK</dt>
        <dd>
          <pre><%- await sessionUser.signingJwk %></pre>
        </dd>

        <dt>Public Encrypting Key:</dt>
        <dd>
          <pre><%- await sessionUser.publicEncryptingKey %></pre>
        </dd>
        
        <dt>Encrypting JWK</dt>
        <dd>
          <pre><%- await sessionUser.encryptingJwk %></pre>
        </dd>
      </dl>
    </div>
  </article>
</main>

