<main>
  <article>
    <h1><a href="<%= `${origin}/${displayUser.username}/galleries` %>" title="<%= %>'s Galleries">&lt</a> Gallery: <%= album.name %></h1>
    <% if (view.message) { %>
    <div id="messages" class="messages">
      <span><%= view.message %></span>
    </div>
    <% } %>
    <% if (view.error) { %>
    <div id="errors" class="errors">
      <span><%= view.error%></span>
    </div>
    <% } %>
    <div class="gallery">
      <div id="images">
        <% (await album.getJson()).images.forEach((image, i) => { 
        console.log(`is image hidden? ${image.hide}`)
        %>
          <% if (!image.hide ) { %>
        <div class="imagePair">
          <figure style="display: inline-block;">
            <img src="<%= `${origin}/${image.big}` %>" alt="<%= image.description %>" class="imgFull" width="150px">
            <figcaption>Full size image.</figcaption>
          </figure>
          <% if (image.thumbnail) { %>
          <figure style="display: inline-block;">
            <img src="<%= `${origin}/${image.thumbnail}` %>" alt="<%= image.description %>" class="imgThumbnail" width="*">
            <figcaption>Thumbnail image.</figcaption>
          </figure>
          <% } %>
        <br>
        </div>
          <% } %>
        <% }) %>
      </div>
    </div>
  </article>
</main>

